nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.6rem 1.6rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 2rem;
    backdrop-filter: blur(16px);
}

nav a {
    background-color: transparent;
    padding: 0.6rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background-color: var(--color-bg);
    color: var(--color-white);
}