header{
    height: 100vh;
    padding-top: 6rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*CTA*/

.cta{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/*Header Socials*/

.header__socials{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 1.6rem;
    background-color: var(--color-primary);
}

/*Me*/

.me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 18rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}



/*Scroll Down*/

.scroll__down{
    position: absolute;
    right: 0;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.8rem;
}

/*MEDIA Medium*/

@media screen and (max-width:1023px){
    header{
        height: 68vh;
    }
}

/*MEDIA Small*/

@media screen and (max-width:600px){
    header{
        height: 100vh;
    }
    .header__socials,.scroll__down{
        display: none;
    }

}
