.container__about{
    display: grid;
    grid-template-columns: 35% 55%;
    gap: 10%;
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background:linear-gradient(45deg,transparent,var(--color-primary),transparent)
}

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover{
    transform: rotate(0);
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}

.about__card{
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.about__card:hover{
    background-color: transparent;
    border-color: var(--color-bg-variant);
}

.about__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
}

.about__card h5{
    font-size: 1rem;
}

.about__card small{
    color: var(--color-light);
}

.about__content{
    margin: auto 0;
}

.about__content p {
    margin: 2rem 0 1rem;
    color: var(--color-light);
}

/*MEDIA Medium*/

@media screen and (max-width:1023px){
    .container__about{
        grid-template-columns: 1fr;
        gap: unset;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__content p {
        margin: 1rem 0 1rem;
    }
}

/*MEDIA Small*/

@media screen and (max-width:600px){
    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .about__content{
        text-align: center;
    }
    section#about{
        margin-top: 2rem;
    }
    header#header{
        padding-top: 2rem;
    }
}