.container.container__contact{
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background-color: var(--color-bg-variant);
    padding: 1.4rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    text-align: center;
    transition: var(--transition);
}

.contact__option:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option:hover .contact__option-icon{
    color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.6rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,textarea{
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--color-primary-variant);
    border-radius: 0.6rem;
    resize: none;
    background-color: transparent;
    color: var(--color-white);
}


/*MEDIA Medium*/

@media screen and (max-width:1023px){
    .container.container__contact{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/*MEDIA Small*/

@media screen and (max-width:600px){ 
    
}