@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --color-bg : #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary : #4db5ff;
    --color-primary-variant: rgba(77,181,255,0.4);
    --color-white : #fff;
    --color-light : rgba(255,255,255,0.6);
    --transition: all 0.4s ease;
    --container-width-lg : 75%;
    --container-width-md : 86%;
    --container-width-sm : 90%;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7rem;
    background-image: url(assets/img/bg-texture.png);
}

section{
    margin-top: 8rem;
}

section >h2{
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 3rem;
}

section>h5{
    text-align: center;
    color:var(--color-light)    
}

h1,h2,h3,h4,h5{
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover{
    color: var(--color-white);
}




.button {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.button:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.button-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

.text-light{
    color: var(--color-light);
}

::-webkit-scrollbar {
    display: none;
}

.bg-primary{
    background-color: #88aaf3;
}

.card{
    max-width: 430px;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

/*MEDIA Medium*/

@media screen and (max-width:1023px){
    .container{
        width: var(--container-width-md);
    }  
    .section {
        margin-top : 6rem;
    }
}

/*MEDIA Small*/

@media screen and (max-width:600px){
    .container{
        width: var(--container-width-sm);
    }
      
    .section {
        margin-bottom : 2rem;
    }
   
}